.vscode/
*.swp
*.swo
**/__pycache__
nohup.out

logs/*
!logs/README.md
save/*
!save/README.md
data/*
!data/README.md
!data/cornell

# train 
/deepqa2/config.ini

# serve
/deepqa2/serve/db.sqlite3
/deepqa2/serve/dump.rdb