.vscode/
*.swp
*.swo
*.pyc
**/__pycache__
nohup.out

logs/*
!logs/README.md
save/*
!save/README.md
data/*
!data/README.md
!data/cornell
!data/egret-wenda

# train 
config.ini

# serve
/deepqa2/serve/db.sqlite3
/deepqa2/serve/dump.rdb
