## The following requirements were added by pip freeze:
asgi-redis==1.0.0
autopep8==1.2.4
channels==0.17.3
configparser==3.5.0
Django==2.2.24
djangorestframework==3.5.3
jieba==0.38
munch==2.1.0
nltk==3.2.1
numpy==1.11.3
six==1.10.0
terminado==0.6
tqdm==4.10.0
